*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html,body{
    height: 100%;
}


body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(156, 134, 156);
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    background-color: white;
    width: 30%;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0  0 10px rgba(0,0,0,0.1);
    
}
h2{
    margin-bottom: 4px;
    color: purple;
}
p{
    margin-bottom: 10px;

}
button{
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    background-color: #eeffab;
    color: black;
    transition: 0.3s;
}
button:hover{
    background-color: #d4edda;
}
#result{
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/*this is for the pull request practice i am doing the pull request again in the same branch